fastapi
uvicorn[standard]
motor
python-dotenv
opencv-python
websockets
firebase-admin
pymongo

# Depois inserir controle de versão, com as versões corretas:

# fastapi==0.115.11
# uvicorn[standard]==0.34.0
# motor==3.7.0
# python-dotenv==1.0.1
# opencv-python==4.11.0.86
# websockets==15.0.1
# firebase-admin==6.7.0
#pymongo==4.11.3
